async-timeout==4.0.2
build==0.9.0
certifi==2022.12.7
charset-normalizer==2.1.1
colorama==0.4.6
Cython==0.29.32
decorator==5.1.1
idna==3.4
mididings @ file:///home/pi/src/mididings/dist/mididings-20221230-cp310-cp310-linux_armv7l.whl
mpyg321==2.1.0
packaging==22.0
pep517==0.13.0
pexpect==4.8.0
phue==1.1
ptyprocess==0.7.0
pyalsaaudio==0.9.2
pyinotify==0.9.6
pyliblo==0.10.0
python-dotenv==0.21.0
range-key-dict==1.1.0
redis==4.4.0
requests==2.28.1
six==1.16.0
spotipy==2.22.0
tomli==2.0.1
urllib3==1.26.13
