
<!DOCTYPE html>
<html>
<head>
 
	
 <title>
	Erreur-404-Error
</title>
 
	<link rel=stylesheet type=text/css href="/static/css/404.css">

</head>
<body>
 
  <!-- This file lives in public/404.html -->
  <img src="/static/images/light-bulb.png" class="image">
  <div>
    <div class="dialog">
      <h1>Hey, qui a éteint les lumières?</h1>
      <p>Nous n'avons pas trouvé la page que vous cherchiez.</p>
      <br />
      <br />
      <br />
      <br />
      <h1>Hey, who turned off the lights?</h1>
      <p>We were unable to find the page you were looking for.</p>
    </div>
  </div> 

</body>
</html>
