bidict==0.21.4
blinker==1.4
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
Cython==0.29.28
decorator==5.1.1
dnspython==2.2.1
eventlet==0.33.0
Flask==2.0.3
Flask-SocketIO==5.1.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
mididings==2015+r68e31e6
mpyg321==2.0.1
pexpect==4.8.0
phue==1.1
ptyprocess==0.7.0
pyalsaaudio==0.9.0
pyinotify==0.9.6
pyliblo==0.10.0
python-engineio==4.3.1
python-socketio==5.5.2
range-key-dict==1.1.0
requests==2.27.1
six==1.16.0
spotipy==2.19.0
urllib3==1.26.9
Werkzeug==2.0.3
